*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
*::-webkit-scrollbar-track {
    box-shadow: inset 0 0 0 rgba(0, 0, 0, 0);
    -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0);
    background: hsla(0, 0%, 100%, 0.08);
  }

  *::-webkit-scrollbar {
    width: 6px !important;
    height: 6px !important;
  }

  *::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0.1);
  }
html {
    font-size: 62.5%;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Roboto', sans-serif;
}
:root {
    --green : #3C8934;
    --green-light: #83BB26;
    --yellow: #B5CD18;
    --yellow2: #CDD62A;
    --yellow3: #FEDD05;
    --yellow4: #FED800;
    --yellow5: #FDD400;
    --yellow6: #FAC800;
}
body {
    background-color: var(--yellow6);
}

/* menu */

header {
    width: 99%; 
    margin: auto;
}
header nav {
    background-color: white;
    width: 100%;
    height: 10rem;
    display: flex;  
    justify-content: space-between;
    border-bottom: 1px solid var(--green-light);
    border-bottom: var(--yellow) solid;
}
.menu {
    display: flex;
    align-items: center;
}
.menu img {
    height: 6rem;
    margin-left: 1rem;
}
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 40%;
}
.logo img {
    height: 7.5rem;
}
.button-menu-desktop {
    display: none;
}
.inactive {
    display: none;
}
.menu-mobile {
    background-color: white;
    position: absolute;
    margin: 1rem;
    padding: 2rem;
    border: 0.2rem solid var(--green);
    border-radius: 0.5rem;
    width: 90%;
    margin-top: 10rem;
    margin-left: 3rem;
}
.menu-mobile ul {
    list-style: none;
}
.menu-mobile ul li {
    display: flex;
    justify-content: center;
    font-size: 2.5rem;
    align-items: center;
}
.menu-mobile ul li a {
    text-decoration: none;
    margin-bottom: 2rem;
    background-color:var(--green);
    width: 14rem;
    padding: 1rem;
    color: white;
    border-radius: 2rem;
    border: 2px solid var(--yellow6);
    font-size: 2rem;
}
.menu-mobile ul li img {
    margin-top: 2rem;
    height: 5rem;
    margin-left: 2rem;
}

/* Container 1 */

.container-1 {
    background-color: white;
    margin: auto;
    padding-top: 5rem;
    width: 99%;
}
.container-1 img {
    display: flex;
    margin: auto;
    width: 60%;
    padding: 2rem;
}
.container-1 div {
    padding: 2rem;
}
.container-1 div h1 {
    font-size: 4rem;
    display: flex;
    justify-content: center;
    padding-bottom: 1rem ;
}
.container-1 div p {
    font-size:2rem;
    padding: 1.5rem;
}

/* Container 2 */

.title {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    width: 99%;
    padding-bottom: 4rem;
    margin: auto;
}
.title h2 {
    font-size: 4rem;
    display: flex;
    justify-content: center;
}
.container-2 {
    display: grid;
    grid-template-columns: repeat(auto-fill, 40%);
    gap: 2.6rem;
    place-content: center;
    background-color: white;
    margin: auto;
    width: 99%;
}
.container-design img{
    width: 90%;
    border-radius: 2rem;
}
.container-design p {
    font-size:2rem;
    display: flex;
    justify-content: center;
}
.instagram-button {
    background-color: white;
    display: flex;
    justify-content: center;
    width: 99%;
    margin: auto;
    padding: 5rem;
}
.instagram-button button {
    background-color:var(--green);
    width: 12rem;
    padding: 1rem;
    color: white;
    border-radius: 2rem;
    border: 2px solid var(--yellow6);
    font-size: 2rem;
}
.instagram-button button:hover {
    background-color: transparent;
    border: 0.2rem solid var(--green);
    color: var(--green);
}

/* Container 3 */
.container-3 {
    background-color: white;
    margin: auto;
    width: 99%;
    padding-top: 1rem;
}
.container-3 img {
    display: flex;
    margin: auto;
    width: 60%;
    padding: 1rem;
}
.container-3 div {
    padding: 1rem;
}
.container-3 div h3 {
    font-size: 4rem;
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
}
.container-3 div p {
    font-size:2rem;
    padding: 1.5rem;
    padding-bottom: 5rem;
}

/* Container 4 */

.title h3 {
    font-size: 4rem;
    display: flex;
    justify-content: center;
}
.container-4 {
    background-color: white;
    width: 99%;
    display: flex;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container-4 p {
    font-size:2rem;
    padding: 0 1.5rem;
    padding-bottom: 5rem;
}
.youtube-container {
    background-color: white;
    width: 99%;
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.youtube-text-img-container {
    margin: 1rem;
    width: 60vh;
    margin-bottom: 5rem;
}
.youtube-thumbnail {
    width: 100%;
    border-radius: 2rem;
    border: 2px solid var(--yellow6);

}
.youtube-title {
    font-size: 2rem;
}

/* FORM */

.form-container {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 4rem 0;
    margin: auto;
    border: 2rem solid var(--yellow6);
    border-radius: 5rem;
}
.form-container h3 {
    font-size: 4rem;
    padding-bottom: 2rem;
}
.input-container { 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.input-container label {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem 0;
}
.input-container label span {
    font-size: 2.5rem;
    padding-bottom: 1rem;
    margin: auto;
}
.input-container label input {
    width: 20rem;
    height: 4rem;
    border-radius: 2rem;
    border: 2px solid var(--yellow6);
    }

.input-container label .button-form {
    background-color:var(--green);
    width: 12rem;
    padding: 1rem;
    color: white;
    border-radius: 2rem;
    border: 2px solid var(--yellow6);
    font-size: 2rem;
}
.input-container label .form-file {
    border: none;
}
.input-container label .button-form:hover {
    background-color: transparent;
    border: 0.2rem solid var(--green);
    color: var(--green);
}


/* Footer */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 15rem;
}
footer img {
    height: 15rem;
    margin: auto;
}

/* media queries */

@media (min-width: 800px) {
    .menu {
        display: none;
    }
    .logo {
        margin-left: 5rem;
    }
    .button-menu-desktop {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color:var(--green);
        padding: 2rem;
        height: 3rem;
        color: white;
        border-radius: 2rem;
        border: 2px solid var(--yellow6);
        font-size: 2rem;
        position: relative;
        top: 3.5rem;
        right: 4rem;
    }
    .button-menu-desktop:hover {
        background-color: transparent;
        border: 0.2rem solid var(--green);
        color: var(--green);
    }
    .container-1 {
        background-color: white;
        display: flex;
        margin: auto;
        padding-top: 5rem;
        width: 99%;
    }
    .container-1 img {
        display: flex;
        margin: auto;
        width: 45%;
        padding-bottom: 2rem;
    }
    .text-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
    }
    .container-1 .text-container h1 {
        font-size: 6rem;
    }
    .container-1 .text-container p {
        font-size: 3rem;
    }
    .title h2 {
        font-size: 6rem;
        padding: 1rem;
    }
    .container-2 {
        display: grid;
        grid-template-columns: repeat(auto-fill, 23%);
        gap: 1rem;
        place-content: center;
        background-color: white;
        margin: auto;
        width: 99%;
    }
    .instagram-button button {
        background-color:var(--green);
        width: 17rem;
        padding: 1rem;
        color: white;
        border-radius: 2rem;
        border: 2px solid var(--yellow6);
        font-size: 3rem;
    }
    .instagram-button button:hover {
        background-color: transparent;
        border: 0.2rem solid var(--green);
        color: var(--green);
    }
    .container-3 {
        display: flex;
    }
    .container-3 img {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 45%;
    }
    .container-3 div {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .container-3 div h3 {
        font-size: 6rem;
        }
    .container-3 div p {
    font-size: 3rem;
    }
    .title h3 {
        font-size: 6rem;
    }
    .form-container {
        border: 5rem solid var(--yellow6);
        border-radius: 10rem;
    }
    .form-container h3 {
        font-size: 6rem;
    }
    .input-container label input {
        width: 50rem;
        height: 4rem;
    }
}
